<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
    PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
    "http://mybatis.org/dtd/mybatis-3-mapper.dtd">    
<mapper namespace="com.kh.hamo.dao.ClubMemberInter">

	<!-- 특정 동호회의 멤버 리스트 가져오기 -->
	<select id="clubMemberList" resultType="HashMap">
		SELECT M.member_id, cj.clubjoin_nickname, M.member_email, M.member_phone, cj.clubjoin_id, C.club_id 
			FROM club C
		    JOIN clubjoin cj
		    ON C.club_id = cj.club_id
		    JOIN MEMBER M
		    ON cj.member_id = M.member_id
		    WHERE C.club_id = #{param1}
		    ORDER BY cj.clubjoin_id DESC
	</select>
	
	<!-- 회장 아이디 가져오기 -->
	<select id="clubMasterId" resultType="String">
		SELECT member_id FROM club WHERE club_id = #{param1}
	</select>
	
	<!-- 특정 동호회가입 아이디로 멤버 강퇴 -->
	<delete id="clubMemberFire">
		DELETE FROM clubjoin WHERE clubjoin_id = #{param1}
	</delete>
	
	<!-- 블랙리스트 추가 -->
	<insert id="clubMemberBlacklist">
		INSERT INTO blacklist(blacklist_id, club_id, member_id)
    		VALUES(seq_blacklist_id.NEXTVAL, #{param1}, #{param2})
	</insert>
	
	<!-- 회원수 업데이트 -->
	<update id="clubMemberCountUpdate">
		UPDATE club SET club_memberCount = (SELECT count(*) from clubjoin WHERE club_id=#{param1})
	</update>
	
	<!-- 동호회 가입 여부 확인 -->
	<select id="memberCheck" resultType="int">
		SELECT COUNT(*) FROM clubjoin
    		WHERE member_id = #{param1} AND club_id = #{param2} 
	</select>
	
	<!-- 회장 여부 확인 -->
	<select id="masterCheck" resultType="int">
		SELECT COUNT(*) FROM club
   			WHERE member_id = #{param1} AND club_id = #{param2}
	</select>
	
	<!-- 동호회 폐쇄 여부 확인 -->
	<select id="clubCloseCheck" resultType="int">
		SELECT COUNT(*) FROM clubclose WHERE club_id = #{param1}
	</select>
	
		<!-- *******윤지현****** -->
	<select id="introduce" resultType="String">
		SELECT club_introduce FROM club WHERE club_id = #{param1}
	</select>
	
	<select id="club_overLap" resultType="String">
		SELECT clubJoin_nickname FROM clubJoin WHERE club_id =#{param1}
	</select>
	
	<insert id="clubJoin" parameterType="HashMap">
		INSERT INTO clubJoin(clubjoin_id,member_id,club_id,clubjoin_nickname)
		VALUES( seq_clubjoin_id.NEXTVAL,#{member_id},#{club_id},#{nickname})
	</insert>
	<select id="blackList" resultType="String">
		SELECT member_id FROM blackList WHERE club_id = #{param1}
	</select>
	<delete id="clubMemberOut">
		DELETE FROM clubJoin WHERE member_id = #{param1} AND club_id = #{param2}
	</delete>
	
	<update id="memberCountUp">
		UPDATE club SET club_MemberCount = club_MemberCount+1  WHERE club_id = #{param1}
	</update>
	
	<update id="memberCountDown">
		UPDATE club SET club_MemberCount = club_MemberCount-1  WHERE club_id = #{param1}
	</update>
</mapper>