<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
    PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
    "http://mybatis.org/dtd/mybatis-3-mapper.dtd">    
<mapper namespace="com.kh.hamo.dao.ClubMeetingPlanInter">
	<select id="clubMeetingList" resultType="com.kh.hamo.dto.ClubMeetingDTO" >
		SELECT mp.meetingPlan_id,mp.meetingPlan_subject,mp.meetingPlan_idx,cj.clubJoin_nickname,to_char(mp.meetingPlan_date, 'YYYY-MM-DD') as meetingPlan_date ,mp.meetingPlan_when 
		FROM meetingPlan mp JOIN clubJoin cj ON (mp.member_id=cj.member_id AND mp.club_id = cj.club_id)
 		WHERE mp.club_id=#{param1} AND mp.member_id=#{param2} ORDER BY mp.meetingPlan_idx DESC
	</select>
	<select id="clubMeetingCount" resultType="int">
		SELECT count(*) FROM meetingPlan WHERE club_id = #{param1}
	</select>
	<insert id="clubMeetingWrite">
		INSERT INTO meetingPlan VALUES(SEQ_MEETINGPLAN_ID.NEXTVAL,#{param1},#{param2},
			(SELECT MAX(meetingPlan_idx)+1 FROM meetingPlan WHERE club_id=#{param1}),
		#{param3},SYSDATE,#{param4},#{param5},#{param6},#{param7},#{param8})
	</insert>
	<insert id="clubMeetingWriteFirst">
		INSERT INTO meetingPlan VALUES(SEQ_MEETINGPLAN_ID.NEXTVAL,#{param1},#{param2}, 1,
		#{param3},SYSDATE,#{param4},#{param5},#{param6},#{param7},#{param8})
	</insert>
	<select id="clubMeetingDetail" resultType="com.kh.hamo.dto.ClubMeetingDTO" >
		SELECT meetingPlan_id,meetingPlan_subject,meetingPlan_money,meetingPlan_when,meetingPlan_content,meetingPlan_locationX,meetingPlan_locationY  
		FROM meetingPlan WHERE meetingPlan_id=#{param1}
	</select>
	 <select id="meetingAttend" resultType="String" >
	 	SELECT cj.clubJoin_nickname 
	 	FROM meetingAttend ma JOIN clubJoin cj ON ma.member_id=cj.member_id WHERE ma.MEETINGPLAN_ID=#{param1} AND cj.club_id=#{param2}
	 </select>
	
</mapper>