<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
    PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
    "http://mybatis.org/dtd/mybatis-3-mapper.dtd">    
<mapper namespace="com.kh.hamo.dao.ClubMeetingPlanInter">
	<select id="clubMeetingList" resultType="com.kh.hamo.dto.ClubMeetingDTO" >
		SELECT mp.meetingPlan_subject,mp.meetingPlan_idx,cj.clubJoin_nickname,to_char(mp.meetingPlan_date, 'YYYY-MM-DD') as meetingPlan_date ,mp.meetingPlan_when FROM MEETINGPLAN mp JOIN clubJoin cj ON mp.club_id=cj.club_id
 		WHERE mp.club_id=#{param1}
	</select>
	<select id="clubMeetingCount" resultType="int">
		SELECT count(*) FROM meetingPlan WHERE club_id = #{param1}
	</select>
	<insert id="clubMeetingWrite">
		INSERT INTO meetingPlan VALUES(SEQ_MEETINGPLAN_ID.NEXTVAL,#{param1},#{param2},
			(SELECT MAX(meetingPlan_idx)+1 FROM meetingPlan WHERE club_id=#{param1}),
		#{param3},SYSDATE,#{param4},#{param5},#{param6},#{param7},#{param8})
	</insert>
	<insert id="clubMeetingWriteFirst">
		INSERT INTO meetingPlan VALUES(SEQ_MEETINGPLAN_ID.NEXTVAL,#{param1},#{param2}, 1,
		#{param3},SYSDATE,#{param4},#{param5},#{param6},#{param7},#{param8})
	</insert>
	
	
</mapper>