<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
    PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
    "http://mybatis.org/dtd/mybatis-3-mapper.dtd">    
<mapper namespace="com.kh.hamo.dao.ClubBbsInter">

	<!-- 회장 닉네임 찾기 -->
	<select id="findMaster" resultType="String" parameterType="HashMap">
		SELECT club_masterNickname FROM club WHERE club_id=#{club_id} AND member_id=#{member_id}
	</select>

	<!-- 공지사항 리스트 -->
	<select id="clubNoticeList" resultType="com.kh.hamo.dto.ClubBbsDTO">
		SELECT c.club_id, cb.clubBbs_id, cb.clubBbs_idx, cb.clubBbs_subject, c.club_masterNickname, cb.clubBbs_date, cb.clubBbs_hit FROM clubBbs cb JOIN club c ON (cb.member_id = c.member_id AND cb.club_id = c.club_id) WHERE cb.clubBbs_sort=#{param2} AND c.club_id=#{param1} ORDER BY clubBbs_idx DESC 
	</select>
	
	<!-- 동호회 회원 닉네임 찾기 -->
	<select id="findnickName" resultType="String">
		SELECT clubJoin_nickname FROM clubJoin WHERE club_id=#{param1} AND member_id=#{param2}
	</select>
	
	<!-- 조회수 올리기 -->
	<update id="clubBbsHit">
		UPDATE clubBbs SET clubBbs_hit = clubBbs_hit+1 WHERE clubBbs_id=#{param1}
	</update>
	
	<!-- 공지사항 상세보기 -->
	<select id="clubNoticeDetail" resultType="com.kh.hamo.dto.ClubBbsDTO">
		SELECT cb.member_id, cb.club_id, cb.clubBbs_id, cb.clubBbs_subject, c.club_masterNickname, cb.clubBbs_hit, cb.clubBbs_date, cb.clubBbs_content FROM clubBbs cb JOIN club c ON cb.club_id = c.club_id WHERE cb.clubBbs_id=#{param1}
	</select>
	
	<!-- 게시글 수 가져오기 -->
	<select id="findCount" resultType="Integer" parameterType="Integer">
		SELECT COUNT(*) FROM clubBbs WHERE club_id=#{param1}
	</select>
	
	<!-- 최근 게시글 글번호 조회 -->
	<select id="findIdx" resultType="com.kh.hamo.dto.ClubBbsDTO">
		SELECT clubBbs_idx FROM clubBbs WHERE club_id=#{param1} ORDER BY clubBbs_idx DESC
	</select>
	
	<!-- 글쓰기 -->
	<insert id="clubWrite" parameterType="com.kh.hamo.dto.ClubBbsDTO" useGeneratedKeys="true" keyProperty="clubBbs_id" keyColumn="clubBbs_id">
		INSERT INTO clubBbs(clubBbs_id, club_id, member_id,clubBbs_sort, clubBbs_idx,clubBbs_subject,clubBbs_date, clubBbs_content,clubBbs_replyCount, clubBbs_hit) 
		VALUES(seq_clubbbs_id.NEXTVAL, #{club_id}, #{member_id},#{clubBbs_sort},#{clubBbs_idx},#{clubBbs_subject},SYSDATE,#{clubBbs_content},0,0)
	</insert>
	<insert id="writeFile">
		INSERT INTO clubBbsFile VALUES (seq_clubbbsfile_id.NEXTVAL,#{param3},#{param2},#{param1})
	</insert>
	
	<!-- 수정 폼 -->
	<select id="clubUpdateForm" resultType="com.kh.hamo.dto.ClubBbsDTO">
		SELECT club_id,clubBbs_subject, clubBbs_content,clubBbs_id FROM clubBbs WHERE clubBbs_id=#{param1}
	</select>
	
	<!-- 게시글 수정 -->
	<update id="clubUpdate" parameterType="com.kh.hamo.dto.ClubBbsDTO">
		UPDATE clubBbs SET clubBbs_subject=#{clubBbs_subject},clubBbs_content=#{clubBbs_content} WHERE clubBbs_id=#{clubBbs_id}
	</update>
	
	<!-- 파일 삭제 -->
	<delete id="fileDelete">
		DELETE FROM clubBbsFile WHERE clubBbsFile_newName=#{param1}
	</delete>
	
	<!-- 파일 찾기 -->
	<select id="findFile" resultType="String" parameterType="Integer">
		SELECT clubBbsFile_newName FROM clubBbsFile WHERE clubBbs_id=#{param1}
	</select>
	
	<!-- 게시글 삭제 -->
	<delete id="clubDelete">
		DELETE FROM clubBbs WHERE clubBbs_id=#{param1}
	</delete>
	
	<!-- 전체글보기 리스트 -->
	<select id="clubAllList" resultType="com.kh.hamo.dto.ClubBbsDTO">
		SELECT cb.club_id, cb.clubBbs_sort, cb.clubBbs_id, cb.clubBbs_idx, cb.clubBbs_subject, cj.clubJoin_nickname, cb.clubBbs_date, cb.clubBbs_hit FROM clubBbs cb JOIN clubJoin cj ON (cj.member_id = cb.member_id AND cj.club_id=cb.club_id) WHERE cb.club_id=#{param1} ORDER BY cb.clubBbs_id DESC
	</select>
	
	<!-- 상세보기 -->
	<select id="clubBoardDetail" resultType="com.kh.hamo.dto.ClubBbsDTO">
		SELECT cb.member_id, cb.club_id, cb.clubBbs_id, cb.clubBbs_subject, cj.clubJoin_nickname, cb.clubBbs_hit, cb.clubBbs_date, cb.clubBbs_content FROM clubBbs cb JOIN clubJoin cj ON (cb.club_id = cj.club_id AND cj.member_id = cb.member_id) WHERE cb.clubBbs_id=#{param1}
	</select>
	
	<!-- 자유게시판 리스트 조회 -->
	<select id="clubFreeBbsList" resultType="com.kh.hamo.dto.ClubBbsDTO">
		SELECT cb.club_id, cb.clubBbs_sort, cb.clubBbs_id, cb.clubBbs_idx, cb.clubBbs_subject, cj.clubJoin_nickname, cb.clubBbs_date, cb.clubBbs_hit FROM clubBbs cb JOIN clubJoin cj ON (cj.member_id = cb.member_id AND cj.club_id=cb.club_id) WHERE cb.club_id=#{param1} AND clubBbs_sort=#{param2} ORDER BY cb.clubBbs_id DESC
	</select>
	
	<!-- 사진첩 게시글 제목 조회 -->
	<select id="clubPhotoBbsList" resultType="com.kh.hamo.dto.ClubBbsDTO">
		SELECT clubBbs_subject, clubBbs_id, TO_CHAR(clubBbs_date, 'yyyy. mm. dd.') as clubBbs_date_to_char FROM clubBbs WHERE club_id=#{param1} AND clubBbs_sort=#{param2} ORDER BY clubBbs_idx DESC
	</select>
	
	<!-- 사진첩 사진 조회 -->
	<select id="clubPhoto" resultType="String" parameterType="Integer">
		SELECT MIN(clubBbsFile_newName) AS clubBbsFile_newName FROM clubBbsFile WHERE clubBbs_id=#{param1} GROUP BY clubBbs_id
	</select>
	
	<!-- 댓글 수 조회 -->
	<select id="findReply" resultType="com.kh.hamo.dto.ClubBbsDTO">
		SELECT clubBbs_replyCount FROM clubBbs WHERE clubBbs_id=#{param1}
	</select>
	
	<!-- 댓글 리스트 조회 -->
	<select id="clubReplyList" resultType="com.kh.hamo.dto.ClubBbsDTO">
		SELECT cb.member_id, cb.clubBbsReply_id, cj.clubJoin_nickname, cb.clubBbsReply_content, cb.clubBbsReply_date FROM clubBbsReply cb JOIN clubJoin cj ON cb.member_id = cj.member_id WHERE cb.clubBbs_id = #{param1} AND cj.club_id=#{param2} ORDER BY cb.clubBbsReply_id DESC
	</select>
	
	<!-- 댓글 작성 -->
	<insert id="clubReply" parameterType="com.kh.hamo.dto.ClubBbsDTO">
		INSERT INTO clubBbsReply VALUES (seq_clubbbsreply_id.NEXTVAL,#{clubBbs_id},#{member_id},#{clubBbsReply_content},SYSDATE)
	</insert>
	
	<!-- 댓글 수 증가 -->
	<update id="replyUp">
		UPDATE clubBbs SET clubBbs_replyCount = clubBbs_replyCount+1 WHERE clubBbs_id=#{param1}
	</update>
	
	<!-- 댓글 삭제 -->
	<delete id="replyDelete">
		DELETE FROM clubBbsReply WHERE clubBbsReply_id=#{param1} 
	</delete>
	
	<!-- 댓글 수 감소 -->
	<update id="replyDown">
		UPDATE clubBbs SET clubBbs_replyCount = clubBbs_replyCount-1 WHERE clubBbs_id=#{param1}
	</update>

</mapper>