<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
    PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
    "http://mybatis.org/dtd/mybatis-3-mapper.dtd">    
<mapper namespace="com.kh.hamo.dao.HamoFreeBbsInter">
	<!--parameterType : 인터페이스에서 전달할때 받기위해서 파라메터 타입을 같게   
		HashMap 에 값이 들어있음
		  resultType :  쿼리문 돌린 결과를 담을 클래스명
	-->
	<select id="freeBbsList" parameterType="HashMap" resultType="com.kh.hamo.HamoBbsDTO">
		SELECT * FROM member
	</select>
</mapper>